# 本gitignore借鉴自黑马《学成在线》第一章的环境搭建文档，对一个完整的项目搭建有很大借鉴意义

HELP.md
target/
!.mvn/wrapper/maven-wapper.jar
!**/src/main/**
!**/test/main/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs/

### VS Code ###
.vscode